*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin: 10px 0;
    text-align: center;

}
.form-container{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
form{
   width: 400px;
   height: fit-content;
    border: 3px solid black;
    padding: 20px;
    border-radius: 7px;
    box-shadow:10px 20px 20px black ;
}
input{
    margin: 10px 0;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid black;
}
label{
    font-size: 19px;
    color: rebeccapurple;
    font-weight: 600;
}
#name, #amount, #date, #type, #category{
    width: 90%;
}
#type, #category{
    padding: 7px;
    text-align: center;
    border-radius: 7px;
    margin: 5px 0;
}
.submit-btn{
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #0ec10e;
    background-color: #0ec10e;
    color: wheat;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}


#list_items{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.each_items{
    width: 200px;
    height: 150px;
    width: fit-content;
    border: 2px solid rebeccapurple;
    padding: 20px;
    margin: 20px;
    border-radius: 7px;
    box-shadow: 5px 10px 10px rgb(58, 57, 57);

}

